@model List<Catalog>

<h3>@ViewData["FolderName"]</h3>

<ul style="list-style-type: none;">
    @foreach (var folder in Model)
    {
        <li>
            <a href="@Url.Action("ViewFolder", "Home", new {folderId = folder.Id})">@folder.Name</a>
        </li>
    }
</ul>